streamlit
pandas
numpy
scikit-learn
xgboost
seaborn
plotly
plotly-express
langchain
langchain-community
openai
langchain-groq
langchain-core
streamlit-chat
python-dotenv
joblib
pymssql
sqlalchemy
