streamlit
pyautogen
numpy
python-dotenv
matplotlib 

flask
flask-cors

langgraph
langchain
langchain-core
langchain-anthropic
langchain-community

mysql-connector-python

requests
httpx

tavily-python
flask-mysqldb
PyJWT
bcrypt
